## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import warnings
warnings.filterwarnings('ignore')

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

WARNING:tensorflow:From C:\Users\Owner\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Review the columns name
application_df.columns

Index(['EIN', 'NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN' ], axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
# Look at NAME counts for binning
counts_name = application_df['NAME'].value_counts()
counts_name

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [6]:
# Choose a cutoff value and create a list of names_replace to be replaced
# use the variable name names_replace
names_replace = list(counts_name[counts_name<5].index)

In [7]:
# Replace in dataframe
for name in names_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500 

# Get the counts of each application type
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Identify application types to be replaced
application_types_to_replace = list(application_type_counts[application_type_counts < cutoff_value].index)

# Replace in the DataFrame
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, 'Other')

# Check to make sure binning was successful
print(application_df['APPLICATION_TYPE'].value_counts())

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_greater_than_one = classification_counts[classification_counts > 1]
classification_counts_greater_than_one

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Choose a cutoff value for 'CLASSIFICATION' binning
classification_cutoff_value = 100

# Get the counts of each classification
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Identify classifications to be replaced
classifications_to_replace = list(classification_counts[classification_counts < classification_cutoff_value].index)

# Replace in the DataFrame
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, 'Other')

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

# Display the encoded DataFrame
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [14]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
y = application_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

## Try to Optimize the Model with Some Changes

In [16]:
from keras.optimizers import Adam
from tensorflow.compat.v1.train import AdamOptimizer as Adam

# Determine the number of input features
input_features = X_train.shape[1]     #len( X_train_scaled[0])  

# Changes number of neurons and number of hiden layers.
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# Input layer
nn.add(tf.keras.layers.Dense(units=128, activation='relu', input_dim=input_features))

# First hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=32, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=16, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\Owner\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 128)               57984

 dense_1 (Dense)             (None, 64)                8256

 dense_2 (Dense)             (None, 32)                2080

 dense_3 (Dense)             (None, 16)                528

 dense_4 (Dense)             (None, 1)                 17

=================================================================
Total params: 68865 (269.00 KB)
Trainable params: 68865 (269.00 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\Owner\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [18]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
WARNING:tensorflow:From C:\Users\Owner\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\Owner\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

684/684 [==============================] - 6s 5ms/step - loss: 0.4732 - accuracy: 0.7743 - val_loss: 0.4301 - val_accuracy: 0.8046
Epoch 2/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4306 - accuracy: 0.7944 - val_loss: 0.4378 - val_accuracy: 0.7979
Epoch 3/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4252 - accuracy: 0.7970 - val_loss: 0.4331 - val_accuracy: 0.8015
Epoch 4/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4219 - accuracy: 0.8001 - val_loss: 0.4367 - val_accuracy: 0.8023
Epoch 5/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4199 - accuracy: 0.7990 - val_loss: 0.4348 - val_accuracy: 0.8069
Epoch 6/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4195 - accuracy: 0.7996 - val_loss: 0.4374 - val_accuracy: 0.8049
Epoch 7/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4173 - accuracy: 0.8012 - val_loss: 0.4328 - val_accuracy: 0.8059
Epoch 8/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4170 - accuracy: 0.8005 - val_loss: 0.4359 - val_accuracy: 0.8010
Epoch 9/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4164 - accuracy: 0.8014 - val_loss: 0.4354 - val_accuracy: 0.8010
Epoch 10/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4148 - accuracy: 0.8029 - val_loss: 0.4381 - val_accuracy: 0.7984
Epoch 11/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4142 - accuracy: 0.8023 - val_loss: 0.4411 - val_accuracy: 0.8018
Epoch 12/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4140 - accuracy: 0.8032 - val_loss: 0.4384 - val_accuracy: 0.8025
Epoch 13/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4130 - accuracy: 0.8028 - val_loss: 0.4446 - val_accuracy: 0.7997
Epoch 14/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4125 - accuracy: 0.8035 - val_loss: 0.4433 - val_accuracy: 0.7979
Epoch 15/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4116 - accuracy: 0.8034 - val_loss: 0.4382 - val_accuracy: 0.8033
Epoch 16/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4111 - accuracy: 0.8038 - val_loss: 0.4408 - val_accuracy: 0.8028
Epoch 17/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4110 - accuracy: 0.8044 - val_loss: 0.4364 - val_accuracy: 0.8036
Epoch 18/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4095 - accuracy: 0.8031 - val_loss: 0.4395 - val_accuracy: 0.8012
Epoch 19/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4089 - accuracy: 0.8044 - val_loss: 0.4457 - val_accuracy: 0.8002
Epoch 20/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4085 - accuracy: 0.8042 - val_loss: 0.4433 - val_accuracy: 0.8025
Epoch 21/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4078 - accuracy: 0.8057 - val_loss: 0.4475 - val_accuracy: 0.7942
Epoch 22/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4075 - accuracy: 0.8048 - val_loss: 0.4386 - val_accuracy: 0.8036
Epoch 23/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4074 - accuracy: 0.8049 - val_loss: 0.4427 - val_accuracy: 0.8031
Epoch 24/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4070 - accuracy: 0.8051 - val_loss: 0.4437 - val_accuracy: 0.8044
Epoch 25/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4060 - accuracy: 0.8056 - val_loss: 0.4493 - val_accuracy: 0.8036
Epoch 26/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4057 - accuracy: 0.8061 - val_loss: 0.4491 - val_accuracy: 0.8033
Epoch 27/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4049 - accuracy: 0.8064 - val_loss: 0.4504 - val_accuracy: 0.8038
Epoch 28/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4044 - accuracy: 0.8073 - val_loss: 0.4578 - val_accuracy: 0.8031
Epoch 29/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4038 - accuracy: 0.8067 - val_loss: 0.4579 - val_accuracy: 0.8018
Epoch 30/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4039 - accuracy: 0.8070 - val_loss: 0.4507 - val_accuracy: 0.8020
Epoch 31/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4031 - accuracy: 0.8075 - val_loss: 0.4583 - val_accuracy: 0.8010
Epoch 32/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4030 - accuracy: 0.8080 - val_loss: 0.4525 - val_accuracy: 0.8038
Epoch 33/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4027 - accuracy: 0.8079 - val_loss: 0.4547 - val_accuracy: 0.8007
Epoch 34/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4019 - accuracy: 0.8080 - val_loss: 0.4586 - val_accuracy: 0.8036
Epoch 35/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4027 - accuracy: 0.8067 - val_loss: 0.4555 - val_accuracy: 0.8015
Epoch 36/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4018 - accuracy: 0.8075 - val_loss: 0.4685 - val_accuracy: 0.8007
Epoch 37/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4010 - accuracy: 0.8059 - val_loss: 0.4583 - val_accuracy: 0.8036
Epoch 38/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4012 - accuracy: 0.8080 - val_loss: 0.4558 - val_accuracy: 0.8012
Epoch 39/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4009 - accuracy: 0.8069 - val_loss: 0.4583 - val_accuracy: 0.8005
Epoch 40/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4007 - accuracy: 0.8082 - val_loss: 0.4632 - val_accuracy: 0.8023
Epoch 41/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4002 - accuracy: 0.8077 - val_loss: 0.4698 - val_accuracy: 0.7989
Epoch 42/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4000 - accuracy: 0.8082 - val_loss: 0.4736 - val_accuracy: 0.8010
Epoch 43/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3996 - accuracy: 0.8090 - val_loss: 0.4741 - val_accuracy: 0.7999
Epoch 44/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4002 - accuracy: 0.8079 - val_loss: 0.4884 - val_accuracy: 0.7997
Epoch 45/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3993 - accuracy: 0.8088 - val_loss: 0.4847 - val_accuracy: 0.7994
Epoch 46/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4000 - accuracy: 0.8084 - val_loss: 0.4715 - val_accuracy: 0.8002
Epoch 47/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3992 - accuracy: 0.8090 - val_loss: 0.4944 - val_accuracy: 0.8010
Epoch 48/100
684/684 [==============================] - 3s 5ms/step - loss: 0.3981 - accuracy: 0.8084 - val_loss: 0.4842 - val_accuracy: 0.8018
Epoch 49/100
684/684 [==============================] - 3s 5ms/step - loss: 0.3980 - accuracy: 0.8094 - val_loss: 0.4781 - val_accuracy: 0.7994
Epoch 50/100
684/684 [==============================] - 3s 5ms/step - loss: 0.3989 - accuracy: 0.8088 - val_loss: 0.4796 - val_accuracy: 0.7994
Epoch 51/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3990 - accuracy: 0.8088 - val_loss: 0.4929 - val_accuracy: 0.7979
Epoch 52/100
684/684 [==============================] - 3s 5ms/step - loss: 0.3975 - accuracy: 0.8102 - val_loss: 0.4755 - val_accuracy: 0.8033
Epoch 53/100
684/684 [==============================] - 3s 5ms/step - loss: 0.3978 - accuracy: 0.8097 - val_loss: 0.4815 - val_accuracy: 0.8018
Epoch 54/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3984 - accuracy: 0.8087 - val_loss: 0.4743 - val_accuracy: 0.8031

Epoch 55/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3968 - accuracy: 0.8100 - val_loss: 0.4797 - val_accuracy: 0.7994
Epoch 56/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3966 - accuracy: 0.8098 - val_loss: 0.5005 - val_accuracy: 0.8002
Epoch 57/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3966 - accuracy: 0.8096 - val_loss: 0.5007 - val_accuracy: 0.8010
Epoch 58/100
684/684 [==============================] - 3s 5ms/step - loss: 0.3967 - accuracy: 0.8102 - val_loss: 0.4916 - val_accuracy: 0.8005
Epoch 59/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3967 - accuracy: 0.8094 - val_loss: 0.5010 - val_accuracy: 0.8005
Epoch 60/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3961 - accuracy: 0.8092 - val_loss: 0.4889 - val_accuracy: 0.7976
Epoch 61/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3959 - accuracy: 0.8092 - val_loss: 0.5219 - val_accuracy: 0.8012
Epoch 62/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3963 - accuracy: 0.8102 - val_loss: 0.5177 - val_accuracy: 0.8018
Epoch 63/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3962 - accuracy: 0.8099 - val_loss: 0.5278 - val_accuracy: 0.7989
Epoch 64/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3966 - accuracy: 0.8101 - val_loss: 0.4994 - val_accuracy: 0.8018
Epoch 65/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3956 - accuracy: 0.8099 - val_loss: 0.5377 - val_accuracy: 0.8020
Epoch 66/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3950 - accuracy: 0.8105 - val_loss: 0.5464 - val_accuracy: 0.8005
Epoch 67/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3967 - accuracy: 0.8100 - val_loss: 0.5093 - val_accuracy: 0.8033
Epoch 68/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3950 - accuracy: 0.8107 - val_loss: 0.5240 - val_accuracy: 0.8002
Epoch 69/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3945 - accuracy: 0.8102 - val_loss: 0.5393 - val_accuracy: 0.8018
Epoch 70/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3958 - accuracy: 0.8101 - val_loss: 0.5565 - val_accuracy: 0.8015
Epoch 71/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3959 - accuracy: 0.8106 - val_loss: 0.5167 - val_accuracy: 0.8002
Epoch 72/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3939 - accuracy: 0.8111 - val_loss: 0.5293 - val_accuracy: 0.7989
Epoch 73/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3942 - accuracy: 0.8112 - val_loss: 0.5399 - val_accuracy: 0.8015
Epoch 74/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3943 - accuracy: 0.8107 - val_loss: 0.5207 - val_accuracy: 0.8015
Epoch 75/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3937 - accuracy: 0.8112 - val_loss: 0.5533 - val_accuracy: 0.8020
Epoch 76/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3953 - accuracy: 0.8107 - val_loss: 0.4942 - val_accuracy: 0.8038
Epoch 77/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3940 - accuracy: 0.8105 - val_loss: 0.5044 - val_accuracy: 0.8015
Epoch 78/100
684/684 [==============================] - 3s 5ms/step - loss: 0.3941 - accuracy: 0.8108 - val_loss: 0.5326 - val_accuracy: 0.8041
Epoch 79/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3946 - accuracy: 0.8102 - val_loss: 0.4994 - val_accuracy: 0.8046
Epoch 80/100
684/684 [==============================] - 3s 5ms/step - loss: 0.3952 - accuracy: 0.8099 - val_loss: 0.4972 - val_accuracy: 0.8044
Epoch 81/100
684/684 [==============================] - 3s 5ms/step - loss: 0.3944 - accuracy: 0.8112 - val_loss: 0.5097 - val_accuracy: 0.8005
Epoch 82/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3937 - accuracy: 0.8105 - val_loss: 0.5088 - val_accuracy: 0.8020
Epoch 83/100
684/684 [==============================] - 3s 5ms/step - loss: 0.3937 - accuracy: 0.8107 - val_loss: 0.5242 - val_accuracy: 0.8031
Epoch 84/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3939 - accuracy: 0.8107 - val_loss: 0.5321 - val_accuracy: 0.8044
Epoch 85/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3932 - accuracy: 0.8105 - val_loss: 0.5297 - val_accuracy: 0.8036
Epoch 86/100
684/684 [==============================] - 3s 5ms/step - loss: 0.3946 - accuracy: 0.8107 - val_loss: 0.5558 - val_accuracy: 0.8023
Epoch 87/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3939 - accuracy: 0.8107 - val_loss: 0.4962 - val_accuracy: 0.8020
Epoch 88/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3941 - accuracy: 0.8110 - val_loss: 0.4982 - val_accuracy: 0.8031
Epoch 89/100
684/684 [==============================] - 3s 5ms/step - loss: 0.3932 - accuracy: 0.8100 - val_loss: 0.5252 - val_accuracy: 0.8007
Epoch 90/100
684/684 [==============================] - 3s 5ms/step - loss: 0.3937 - accuracy: 0.8106 - val_loss: 0.5111 - val_accuracy: 0.8018
Epoch 91/100
684/684 [==============================] - 3s 5ms/step - loss: 0.3923 - accuracy: 0.8109 - val_loss: 0.5014 - val_accuracy: 0.8036
Epoch 92/100
684/684 [==============================] - 3s 5ms/step - loss: 0.3936 - accuracy: 0.8110 - val_loss: 0.4707 - val_accuracy: 0.8002
Epoch 93/100
684/684 [==============================] - 3s 5ms/step - loss: 0.3938 - accuracy: 0.8107 - val_loss: 0.5098 - val_accuracy: 0.8020
Epoch 94/100
684/684 [==============================] - 3s 5ms/step - loss: 0.3927 - accuracy: 0.8111 - val_loss: 0.5158 - val_accuracy: 0.8023
Epoch 95/100
684/684 [==============================] - 3s 5ms/step - loss: 0.3919 - accuracy: 0.8124 - val_loss: 0.5118 - val_accuracy: 0.8033
Epoch 96/100
684/684 [==============================] - 3s 5ms/step - loss: 0.3924 - accuracy: 0.8119 - val_loss: 0.5418 - val_accuracy: 0.8012
Epoch 97/100
684/684 [==============================] - 3s 5ms/step - loss: 0.3926 - accuracy: 0.8112 - val_loss: 0.5487 - val_accuracy: 0.8023
Epoch 98/100
684/684 [==============================] - 3s 5ms/step - loss: 0.3927 - accuracy: 0.8118 - val_loss: 0.5373 - val_accuracy: 0.8028
Epoch 99/100
684/684 [==============================] - 3s 5ms/step - loss: 0.3933 - accuracy: 0.8112 - val_loss: 0.5119 - val_accuracy: 0.8028
Epoch 100/100
684/684 [==============================] - 3s 5ms/step - loss: 0.3922 - accuracy: 0.8110 - val_loss: 0.5368 - val_accuracy: 0.8012

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5426 - accuracy: 0.7843 - 704ms/epoch - 3ms/step
Loss: 0.5426309704780579, Accuracy: 0.7842565774917603