## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import warnings
warnings.filterwarnings('ignore')

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

WARNING:tensorflow:From C:\Users\Owner\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Review the columns name
application_df.columns

Index(['EIN', 'NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500 

# Get the counts of each application type
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Identify application types to be replaced
application_types_to_replace = list(application_type_counts[application_type_counts < cutoff_value].index)

# Replace in the DataFrame
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, 'Other')

# Check to make sure binning was successful
print(application_df['APPLICATION_TYPE'].value_counts())

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_greater_than_one = classification_counts[classification_counts > 1]
classification_counts_greater_than_one

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Choose a cutoff value for 'CLASSIFICATION' binning
classification_cutoff_value = 1000

# Get the counts of each classification
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Identify classifications to be replaced
classifications_to_replace = list(classification_counts[classification_counts < classification_cutoff_value].index)

# Replace in the DataFrame
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, 'Other')

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

# Display the encoded DataFrame
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# # Split our preprocessed data into our features and target arrays
# # 'IS_SUCCESSFUL' is our target variable
# y = application_df_encoded['IS_SUCCESSFUL'].values
# X = application_df_encoded.drop(columns=['IS_SUCCESSFUL', axis=1]).values

# # Split the preprocessed data into a training and testing dataset
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)  # stratify=y

In [12]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
y = application_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Determine the number of input features
input_features = len( X_train_scaled[0])   #X_train.shape[1] 

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# Input layer
nn.add(tf.keras.layers.Dense(units=80, input_dim=input_features, activation='relu'))

# Fist hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\Owner\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\Owner\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [16]:
# Train the model
fit_model = nn.fit(X_train, y_train, epochs=50)

Epoch 1/50
WARNING:tensorflow:From C:\Users\Owner\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\Owner\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 15s 14ms/step - loss: 57662.4688 - accuracy: 0.4968
Epoch 2/50
804/804 [==============================] - 9s 11ms/step - loss: 49750.2578 - accuracy: 0.4971
Epoch 3/50
804/804 [==============================] - 9s 11ms/step - loss: 40967.2656 - accuracy: 0.4900
Epoch 4/50
804/804 [==============================] - 9s 11ms/step - loss: 37136.6680 - accuracy: 0.4839
Epoch 5/50
804/804 [==============================] - 8s 10ms/step - loss: 9594.2871 - accuracy: 0.5091
Epoch 6/50
804/804 [==============================] - 6s 7ms/step - loss: 29505.7656 - accuracy: 0.5113
Epoch 7/50
804/804 [==============================] - 5s 7ms/step - loss: 24585.6094 - accuracy: 0.4945
Epoch 8/50
804/804 [==============================] - 5s 6ms/step - loss: 20637.0801 - accuracy: 0.5173
Epoch 9/50
804/804 [==============================] - 6s 7ms/step - loss: 13131.5654 - accuracy: 0.5070
Epoch 10/50
804/804 [==============================] - 5s 7ms/step - loss: 9756.4277 - accuracy: 0.5095
Epoch 11/50
804/804 [==============================] - 7s 8ms/step - loss: 11257.5166 - accuracy: 0.5079
Epoch 12/50
804/804 [==============================] - 6s 8ms/step - loss: 11349.1846 - accuracy: 0.4993
Epoch 13/50
804/804 [==============================] - 6s 8ms/step - loss: 3894.4749 - accuracy: 0.4927
Epoch 14/50
804/804 [==============================] - 5s 6ms/step - loss: 4962.4419 - accuracy: 0.5133
Epoch 15/50
804/804 [==============================] - 5s 6ms/step - loss: 3983.5244 - accuracy: 0.4995
Epoch 16/50
804/804 [==============================] - 5s 6ms/step - loss: 2115.8374 - accuracy: 0.5129
Epoch 17/50
804/804 [==============================] - 6s 7ms/step - loss: 484.6220 - accuracy: 0.5237
Epoch 18/50
804/804 [==============================] - 5s 6ms/step - loss: 133.6630 - accuracy: 0.5180
Epoch 19/50
804/804 [==============================] - 6s 8ms/step - loss: 11.9069 - accuracy: 0.5209
Epoch 20/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6446 - accuracy: 0.6019
Epoch 21/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6367 - accuracy: 0.6368
Epoch 22/50
804/804 [==============================] - 6s 8ms/step - loss: 0.6349 - accuracy: 0.6408
Epoch 23/50
804/804 [==============================] - 8s 10ms/step - loss: 0.6335 - accuracy: 0.6430
Epoch 24/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6323 - accuracy: 0.6480
Epoch 25/50
804/804 [==============================] - 6s 8ms/step - loss: 0.6316 - accuracy: 0.6491
Epoch 26/50
804/804 [==============================] - 8s 9ms/step - loss: 0.6316 - accuracy: 0.6500
Epoch 27/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6312 - accuracy: 0.6506
Epoch 28/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6316 - accuracy: 0.6506
Epoch 29/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6323 - accuracy: 0.6490
Epoch 30/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6318 - accuracy: 0.6485
Epoch 31/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6326 - accuracy: 0.6490
Epoch 32/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6453 - accuracy: 0.6198
Epoch 33/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6917 - accuracy: 0.5264
Epoch 34/50
804/804 [==============================] - 4s 4ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 35/50
804/804 [==============================] - 4s 4ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 36/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 37/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 38/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6913 - accuracy: 0.5318
Epoch 39/50
804/804 [==============================] - 6s 8ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 40/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 41/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 42/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 43/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 44/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 45/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6913 - accuracy: 0.5318
Epoch 46/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 47/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6913 - accuracy: 0.5318
Epoch 48/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6913 - accuracy: 0.5318
Epoch 49/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6913 - accuracy: 0.5318
Epoch 50/50
804/804 [==============================] - 4s 4ms/step - loss: 0.6913 - accuracy: 0.5318

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.8465 - accuracy: 0.6822 - 1s/epoch - 5ms/step
Loss: 0.8464794158935547, Accuracy: 0.6822157502174377

In [18]:
# Export our model to HDF5 file
file_path = "AlphabetSoupCharity.h5"

# Save the model to an HDF5 file
nn.save(file_path)

# Print a success message
print(f"Model successfully saved to {file_path}")

Model successfully saved to AlphabetSoupCharity.h5